nav {
    height: fit-content;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0.5rem 1rem gray;
}

nav .navContainer {
    width: 100%;
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid black;*/
}

nav h1{
    font-size: 3.6rem;
    padding: 1rem 1rem;
    color: var(--primary);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
    /*border: 2px solid blue;*/
    font-size: 2rem;
    background-color: white;
    height: 100%;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
}

nav li:hover {
    border-bottom: 0.5rem solid var(--secondary);
}

nav a {
    padding: 0.5rem 2rem;
    color: var(--primary);
    text-decoration: none;
}

.cartlogo {
    background-color: var(--secondary);
    color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    position: relative;
}

.burger {
    display: none;
    padding: 1.5rem 3rem;
    font-size: 4rem;
    background-color: white;
    border-style: none;
}

.closeMenu {
    display: none;
    padding: 1.5rem 3rem;
    font-size: 4rem;
    background-color: white;
    border-style: none;
}

@media (max-width: 745px) {
    .closeMenu {
        display: block;
    }
    .show {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        margin-right: 0;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0;
        box-shadow: -5rem 0 5rem gray;
    }
    .hide {
        display: none;
        width: 0;
        overflow: hidden;
    }
    .burger {
        display: block;
    }
    nav li {
        width: 100%;
        height: fit-content;
        padding: 1.5rem 2rem;
        border-bottom: 2px solid var(--light-grey);
        display: flex;
        justify-content: center;
    }
}